.Rproj.user
.Rhistory
.RData
.Ruserdata
insumos/2. tamanio_de_muestra/nogit
insumos/2. tamanio_de_muestra/base proyecciones/CPV_30_11_2023.rar
insumos/2. tamanio_de_muestra/base proyecciones/poblacion2022_proyec_3011.csv
sintaxis/2. tamanio_de_muestra/sintaxis_antiguas/